:root {
    /* Color tokens */
    --color-background-title: #426;
    --color--background-header: rgb(255, 30, 0);
    --color-font-ratings: green;
    --color-background-links: blue;
    --color-font-title: white;
    --color-title-border: 1px solid cyan;
    --color-font-details: navajowhite;

    /* Font tokens */
    --body-font: sans-serif,serif,monospace;
    --display-font: serif,monospace;
    --font-size-small: 14px;
    --font-size-medium: 16px;
    --font-size-large: 20px;
    --font-weight-light:100;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    /* Spacing tokens */
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 32px;

    /* Breakpoint tokens */
    --breakpoint-small: 480px;
    --breakpoint-medium: 768px;
    --breakpoint-large: 1024px;

    /* margin tokens */
    --leftright-margins: 0.1em;


    body.dark-mode {
        background-color: black;
        --color-background-title: #426;
        --color--background-header: rgb(227, 83, 63);
        --color-font-ratings: lightgreen;
        --color-background-links: lightblue;
        --color-font-title: white;
        --color-title-border: 1px solid cyan;
      }
    
    body.dark-mode .movie-details-custom h2 {
       --color-font-ratings:darkgreen; 
       --color-font-details:white;
     
    }
    
    body.dark-mode .movie-details-custom p {
        color: white; 
    
    }

}